@tailwind base;
@tailwind components;
@tailwind utilities;

.fondoFacyt::after {
    content: "";
    background-image: url('/static/img/facyt_logo.png');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -50;
}

* {
    font-family: 'Open sans';
}