<!-- {% load static %} -->
<!-- <a class="block w-56 h-fit bg-blue-200 border-solid border-2 border-blue-400 rounded-3xl" href="#">
    <img class="w-full" src="{% static 'img/icons/profile.svg' %}" alt="icono-profile">
    <p class="w-fit mx-auto font-bold text-3xl">Perfil</p>
</a> -->
<a class="block w-56 h-fit bg-blue-200 border-solid border-2 border-blue-400 rounded-3xl" href="#">
    <img class="w-full" src="{% static  src  %}" alt="{{ alt }}">
    <p class="w-fit mx-auto font-bold text-3xl">{{ texto }}</p>
</a>