<!-- {% load static %} -->
<div class="h-16 bg-blue-400 justify-between grid grid-cols-3" >
    <div class="mr-auto ">
        <img class="mr-2 h-10 mt-3.5" src="{% static 'img/icons/settings.svg' %}" alt="icono-setting">
    </div>
    
    
    <div class="flex flex-row w-full bg-blue-200 rounded-lg my-4 mx-auto py-1" >
        <img class="w-7 mx-2" src="{% static 'img/icons/search.svg' %}" alt="icono-lupa">
        <input class="placeholder-blue-400 appearance-none border-none w-full bg-transparent outline-none" type="text" placeholder="Buscar...">
    </div>

    <figure class=" w-fit h-full ml-auto mr-5 py-2 flex flex-row">
        <figcaption class="my-auto mr-3" >
            <p class="font-bold text-zinc-900" >Nombre Usuario</p>
        </figcaption>
        <img class="h-12 rounded-full " src="{% static 'img/facyt_logo.png' %}" alt="imagen_de_usuario">
    </figure>
    
</div>