{% extends 'layouts/principal.html' %}

{% load static %}

{% block title %} Index {% endblock %}


{% block principal %}

    <div class="flex flex-row justify-around my-32 " >
        
        <!-- tuve que hacerlo asi porque no consegui la forma de pasarlo como argumento en el componente include -->
        <a class="block w-56 h-fit bg-blue-200 border-solid border-2 border-blue-400 rounded-3xl hover:scale-110 transition ease-in-out" href="{% url 'profile' user %}">
            <img class="w-full" src="{% static  'img/icons/profile.svg' %}" alt="profile-icon">
            <p class="w-fit mx-auto font-bold text-3xl">Perfil</p>
        </a>

        <a class="block w-56 h-fit bg-blue-200 border-solid border-2 border-blue-400 rounded-3xl hover:scale-110 transition ease-in-out" href="{% url 'mail' user %}">
            <img class="w-full" src="{% static  'img/icons/mail.svg' %}" alt="mail-icon">
            <p class="w-fit mx-auto font-bold text-3xl">Correo</p>
        </a>        
    </div>
    
{% endblock %}

{% block aside %}

    <div class="mt-10" >
        <p class="w-fit mx-auto font-bold text-3xl" >Bienvenido a la Intranet UC</p>
    </div>

    {% include 'components/chat_box.html' %}
{% endblock %}