{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "CSS/output.css" %}''>
    <title>{% block title %}  {% endblock %}</title>
</head>
<body class="fondoFacyt">
    <header>
        {% block navegacion %}{% endblock %}
        {% block header %} {% endblock %}
    </header>

    <div class="w-full h-full flex flex-row" >
        <div class=" w-8/12 h-full ">
            {% block principal %}
            {% endblock %}
        </div>
        <div class=" h-full w-4/12 ml-10 bg-blue-100 shadow-[-3px_0px_8px_7px_rgba(96,165,250,0.64)] ">
            {% block aside %}
            {% endblock %}
        </div>
    </div>

    

    <footer class="flex h-10 w-full bg-blue-400 py-2 justify-center">
        <p  >Seccion aun por definir</p>
    </footer>
</body>
</html>