{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "CSS/output.css" %}''>
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <header>
        {% include 'components/navegacion.html' %}
        {% block header %} {% endblock %}
    </header>
    <div class="fondoFacyt" >
    </div>

    {% block content %}
    {% endblock %}

    <footer class="fixed flex bottom-0 left-0 h-10 w-screen bg-blue-400 py-2 justify-center">
        <p  >Seccion aun por definir</p>
    </footer>
</body>
</html>